<!DOCTYPE html>
<html lang='en'>


<head>
  
  <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'client-bundles' %>

</head>


<body>
  <%= yield %>
</body>

</html>