<!DOCTYPE html>
<html>

<head>
  <title>Ruby Railhouse</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'client-bundles' %>

</head>


<body>
  <%= yield %>
</body>

</html>