<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Railhouse</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'ale-house-bundle' %>
   
  </head>

<style>
// reset css
* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('background.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important; 
}


</style>
  <body>
    <%= yield %>
  </body>
</html>
